//! **************************************************************************
// Written by: Map P.20131013 on Wed Jun 19 13:58:55 2024
//! **************************************************************************

SCHEMATIC START;
COMP "BTN" LOCATE = SITE "AA21" LEVEL 1;
PIN BTN_pin<0> = BEL "BTN" PINNAME PAD;
PIN "BTN_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "C_OUT<0>" LOCATE = SITE "Y13" LEVEL 1;
COMP "C_OUT<1>" LOCATE = SITE "AD12" LEVEL 1;
COMP "C_IN<0>" LOCATE = SITE "W13" LEVEL 1;
COMP "C_OUT<2>" LOCATE = SITE "AA11" LEVEL 1;
COMP "C_IN<1>" LOCATE = SITE "W12" LEVEL 1;
COMP "C_OUT<3>" LOCATE = SITE "AA10" LEVEL 1;
COMP "C_IN<2>" LOCATE = SITE "W11" LEVEL 1;
COMP "C_OUT<4>" LOCATE = SITE "AA9" LEVEL 1;
COMP "C_IN<3>" LOCATE = SITE "Y12" LEVEL 1;
COMP "C_OUT<5>" LOCATE = SITE "AB9" LEVEL 1;
COMP "C_IN<4>" LOCATE = SITE "Y11" LEVEL 1;
COMP "C_OUT<6>" LOCATE = SITE "AB8" LEVEL 1;
COMP "C_IN<5>" LOCATE = SITE "Y10" LEVEL 1;
COMP "C_OUT<7>" LOCATE = SITE "AB7" LEVEL 1;
COMP "C_IN<6>" LOCATE = SITE "Y9" LEVEL 1;
COMP "C_IN<7>" LOCATE = SITE "Y8" LEVEL 1;
COMP "CLK" LOCATE = SITE "AE14" LEVEL 1;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

