NET iCLK LOC = AE14;
NET iLOAD LOC = Y8;
NET iSHL LOC = Y9;
NET iSHR LOC = Y10;
NET iARITH LOC = Y11;
NET iRESET LOC = Y12;
NET "iDATA[0]" LOC = W11;
NET "iDATA[1]" LOC = W12;
NET "iDATA[2]" LOC = W13;
NET "oREG[0]" LOC = AB7;
NET "oREG[1]" LOC = AB8; 
NET "oREG[2]" LOC = AB9;
NET "oREG[3]" LOC = AA9;
NET "oREG[4]" LOC = AA10;
NET "oREG[5]" LOC = AA11;
NET "oREG[6]" LOC = AD12;
NET "oREG[7]" LOC = Y13;
