//! **************************************************************************
// Written by: Map P.20131013 on Tue May 21 09:26:21 2024
//! **************************************************************************

SCHEMATIC START;
COMP "iDATA<0>" LOCATE = SITE "W11" LEVEL 1;
COMP "iDATA<1>" LOCATE = SITE "W12" LEVEL 1;
COMP "iDATA<2>" LOCATE = SITE "W13" LEVEL 1;
COMP "iCLK" LOCATE = SITE "AE14" LEVEL 1;
COMP "iARITH" LOCATE = SITE "Y11" LEVEL 1;
COMP "iLOAD" LOCATE = SITE "Y8" LEVEL 1;
COMP "iSHL" LOCATE = SITE "Y9" LEVEL 1;
COMP "oREG<0>" LOCATE = SITE "AB7" LEVEL 1;
COMP "oREG<1>" LOCATE = SITE "AB8" LEVEL 1;
COMP "iSHR" LOCATE = SITE "Y10" LEVEL 1;
COMP "oREG<2>" LOCATE = SITE "AB9" LEVEL 1;
COMP "oREG<3>" LOCATE = SITE "AA9" LEVEL 1;
COMP "oREG<4>" LOCATE = SITE "AA10" LEVEL 1;
COMP "oREG<5>" LOCATE = SITE "AA11" LEVEL 1;
COMP "oREG<6>" LOCATE = SITE "AD12" LEVEL 1;
COMP "oREG<7>" LOCATE = SITE "Y13" LEVEL 1;
COMP "iReset" LOCATE = SITE "Y12" LEVEL 1;
NET "iCLK_BUFGP/IBUFG" BEL "iCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

