//! **************************************************************************
// Written by: Map P.20131013 on Mon May 20 21:20:23 2024
//! **************************************************************************

SCHEMATIC START;
NET "CLOCK_BUFGP/IBUFG" BEL "CLOCK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

